.straumur__google-pay-component {
  position: relative;
  cursor: pointer;
  background: var(--straumur__color-white);
  border-radius: var(--straumur__border-radius-lg);
  transition: all 0.3s ease;
  padding: var(--straumur__space-xxlg) var(--straumur__space-5xlg);
}

.straumur__google-pay-component__radio-selector {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.straumur__google-pay-component__content {
  display: flex;
  align-items: center;
  gap: var(--straumur__space-lg);
  transition: background-color 0.3s ease;
}

.straumur__google-pay-component__radio-selector:checked + .straumur__google-pay-component__content {
  padding-bottom: var(--straumur__space-xxlg);
}

.straumur__google-pay-component--circle {
  width: var(--straumur__space-5xlg);
  height: var(--straumur__space-5xlg);
  border: 1px solid var(--straumur__color-cosmos-blue-gamma);
  background: var(--straumur__color-secondary-gamma);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

.straumur__google-pay-component__content:hover .straumur__google-pay-component--circle {
  border: 1px solid var(--straumur__color-cosmos-blue-delta);
}

.straumur__google-pay-component--circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.straumur__google-pay-component__radio-selector:checked
  + .straumur__google-pay-component__content
  .straumur__google-pay-component--circle {
  background: var(--straumur__color-blue-beta);
  border-color: var(--straumur__color-transparent);
}

.straumur__google-pay-component__radio-selector:checked
  + .straumur__google-pay-component__content
  .straumur__google-pay-component--circle::after {
  transform: translate(-50%, -50%) scale(1);
  background: var(--straumur__color-primary);
  height: var(--straumur__space-md);
  width: var(--straumur__space-md);
}

.straumur__google-pay-component--text {
  color: #213547;
  font-size: 1rem;
  user-select: none;
}

.straumur__google-pay-component__expandable {
  background: var(--straumur__color-white);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}

.straumur__google-pay-component__radio-selector:checked ~ .straumur__google-pay-component__expandable {
  max-height: 600px;
  opacity: 1;
}

.straumur__google-pay-component__expandable p {
  margin: 0;
  color: #213547;
  font-size: 0.9rem;
}

.adyen-checkout__paywithgoogle {
  height: var(--straumur__space-8xlg);
}

.adyen-checkout__threeds2__challenge.adyen-checkout__threeds2__challenge--05 {
  background-color: transparent;
  display: block;
  height: inherit;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
