.straumur__three-d-secure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: var(--straumur__border-radius-xxlg);
}
