.straumur__result-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--straumur__space-5xlg);
  padding: var(--straumur__space-6xlg);
  width: 100%;
  min-height: 300px;
  background-color: var(--straumur__color-white);
  border-radius: var(--straumur__border-radius-xxlg);
}
