.instant-payments {
  display: grid;
  gap: var(--straumur__space-md);
  grid-template-columns: 1fr 1fr;
}

.instant-payments--single {
  grid-template-columns: 1fr;
}

@media (max-width: 527px) {
  .instant-payments {
    grid-template-columns: 1fr;
  }
}
