.straumur__card-component {
  position: relative;
  cursor: pointer;
  background: var(--straumur__color-white);
  border-radius: var(--straumur__border-radius-lg);
  transition: all 0.3s ease;
  padding: var(--straumur__space-xxlg) var(--straumur__space-5xlg);
}

.straumur__card-component__radio-selector {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.straumur__card-component__content {
  display: grid;
  grid-template-columns: 26px 40px auto 1fr;
  /* display: flex; */
  align-items: center;
  gap: var(--straumur__space-lg);
  transition: background-color 0.3s ease;
}

.straumur__card-component__radio-selector:checked + .straumur__card-component__content {
  padding-bottom: var(--straumur__space-xxlg);
}

.straumur__card-component--circle {
  width: var(--straumur__space-5xlg);
  height: var(--straumur__space-5xlg);
  border: 1px solid var(--straumur__color-cosmos-blue-gamma);
  background: var(--straumur__color-secondary-gamma);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}

.straumur__card-component__content:hover .straumur__card-component--circle {
  border: 1px solid var(--straumur__color-cosmos-blue-delta);
}

.straumur__card-component--circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.straumur__card-component__radio-selector:checked
  + .straumur__card-component__content
  .straumur__card-component--circle {
  background: var(--straumur__color-blue-beta);
  border-color: var(--straumur__color-transparent);
}

.straumur__card-component__radio-selector:checked
  + .straumur__card-component__content
  .straumur__card-component--circle::after {
  transform: translate(-50%, -50%) scale(1);
  background: var(--straumur__color-primary);
  height: var(--straumur__space-md);
  width: var(--straumur__space-md);
}

.straumur__card-component--text {
  color: #213547;
  font-size: 1rem;
  user-select: none;
}

.straumur__card-component--brands {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: var(--straumur__space-xxs);
}

.straumur__card-component__expandable {
  background: var(--straumur__color-white);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}

.straumur__card-component__loading-text {
  display: flex;
  justify-content: center;
}

.straumur__card-component__radio-selector:checked ~ .straumur__card-component__expandable {
  max-height: 600px;
  opacity: 1;
}

.straumur__card-component__form {
  display: flex;
  padding-top: var(--straumur__space-xxlg);
  flex-direction: column;
  gap: var(--straumur__space-5xlg);
}

.straumur__card-component__form--wrapper {
  display: flex;
  flex-direction: column;
  justify-items: start;
  position: relative;
  width: 100%;
}

.straumur__card-component__form--wrapper--error {
  color: var(--straumur__color-red-beta);
  font-size: 12px;
}

.straumur__card-component__form--wrapper--label {
  transform: translateX(var(--straumur__space-md)) translateY(-50%);
  z-index: 1;
  background: linear-gradient(
    to top,
    var(--straumur__color-secondary-gamma) 53%,
    var(--straumur__color-transparent) 50%
  );
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  padding: 0 var(--straumur__space-xxs);
}

.straumur__card-component__form--wrapper--label--error {
  color: var(--straumur__color-red-beta);
  background: linear-gradient(to top, var(--straumur__color-red-gamma) 53%, var(--straumur__color-transparent) 50%);
}

.straumur__card-component__form--wrapper--label--info {
  position: absolute;
  top: 33%;
  right: var(--straumur__space-md);
}

.straumur__card-component__form--wrapper--input {
  background: var(--straumur__color-secondary-gamma);
  color: #00112c;
  display: block;
  font-family: inherit;
  border: 1px solid var(--straumur__color-transparent);
  border-radius: var(--straumur__border-radius-s);
  font-size: 1rem;
  height: 48px;
  outline: none;
  padding-left: var(--straumur__space-lg);
  transition: border 0.2s ease-out, box-shadow 0.2s ease-out;
}

.straumur__card-component__form--wrapper--input:hover {
  border: 1px solid var(--straumur__color-cosmos-blue-delta);
}

.straumur__card-component__form--wrapper--input--error {
  background: var(--straumur__color-red-gamma);
  border: 1px solid var(--straumur__color-red-beta);
}

.straumur__card-component__form--wrapper--input--error:hover {
  border: 1px solid var(--straumur__color-red-beta);
}

.straumur__card-component__form--field-wrapper {
  display: flex;
  width: 100%;
  gap: var(--straumur__space-5xlg);
}

.straumur__card-component__submit-button {
  background: var(--straumur__color-primary);
  border: none;
  border-radius: var(--straumur__border-radius-s);
  color: var(--straumur__color-white);
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
  outline: none;
  padding: 0 var(--straumur__space-xxlg);
  transition: background 0.2s ease-out;
  width: 100%;
}

.straumur__card-component__submit-button:hover {
  background: var(--straumur__color-primary);
  border: 1px solid #dbdee2;
}

.straumur__card-component__submit-button:disabled {
  background: #72889d;
  border: 1px solid #dbdee2;
  cursor: not-allowed;
}

.straumur__card-component__form--wrapper--label-checkbox {
  height: 38px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: var(--straumur__space-s);
  border-radius: var(--straumur__border-radius-s);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s ease-in-out;
}
.straumur__card-component__form--wrapper--label-checkbox:hover {
  background-color: var(--straumur__color-blue-gamma);
}

.straumur__card-component__form--wrapper--label-checkbox:hover
  .straumur__card-component__form--wrapper--label-checkbox--checkmark {
  border: 1px solid var(--straumur__color-cosmos-blue-delta);
}

.straumur__card-component__form--wrapper--label-checkbox--checkmark {
  height: var(--straumur__space-5xlg);
  width: var(--straumur__space-5xlg);
  background-color: var(--straumur__color-secondary-gamma);
  border-radius: var(--straumur__border-radius-xxs);
  flex-shrink: 0;
  border: 1px solid var(--straumur__color-transparent);
  transition: all 0.2s ease-in;
}

.straumur__card-component__form--wrapper--label-checkbox:hover
  .straumur__card-component__form--wrapper--label-checkbox--checkmark.straumur__card-component__form--wrapper--label-checkbox--checkmark--checked {
  border: 1px solid var(--straumur__color-transparent);
}

.straumur__card-component__form--wrapper--label-checkbox--checkmark--checked {
  background-color: var(--straumur__color-blue-beta);
}

.straumur__card-component__form--wrapper--label-checkbox--checkmark--icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
}

.straumur__card-component__form--wrapper--label-checkbox--checkmark--icon--checked {
  opacity: 1;
  visibility: visible;
}

.straumur__card-component__form--wrapper--label-checkbox--checkbox {
  display: none;
}

.js-iframe {
  border: none;
  color-scheme: auto;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.adyen-checkout__threeds2__challenge adyen-checkout__threeds2__challenge--05 {
  background-color: transparent;
  display: block;
  height: inherit;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
