.straumur__tooltip__content {
  position: absolute;
  z-index: 50;
  padding: var(--straumur__space-s);
  border-radius: var(--straumur__border-radius-s);
  right: 40%;
  top: 100%;
  width: max-content;
  color: var(--straumur__color-white);
  background-color: var(--straumur__color-primary);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
